@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  background: var(--secondary);
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* navbar styling */
nav {
  display: flex;
  gap: 20px;
  justify-content: end;
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgb(5, 5, 65);
}
nav h1 {
  margin-right: auto;
  color: whitesmoke;
  border-bottom: 3px solid red;
}
* {
  color: #fff;
}
nav a {
  text-decoration: none;
  color: whitesmoke;
  margin: 15px;

  padding: 10px;
  border-radius: 4px;
}
nav a.active {
  background: rgb(209, 5, 5);
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background: var(--primary);
  cursor: pointer;
}
p {
  margin: 20px 0;
}
